@use "../style/common.module.scss" as common;
.home {
  /* 1. section 样式 */
  .show {
    background-color: rgb(248, 246, 240);
    .container {
      padding: 55px 0 90px;
      .show_description {
        flex-direction: column;
        h1 {
          font-size: 50px;
          color: #1a1a1a;
          margin-bottom: 33px;
        }
        p {
          margin-bottom: 45px;
          font-size: 20px;
        }
        .articles,
        .about {
          width: 98px;
          height: 44px;
          border-radius: 8px;
        }
        .articles {
          background-color: #3a6351;
          margin-right: 14px;
          color: #fff;
        }
        .about {
          border-color: rgb(232, 228, 217);
          background-color: #fff;
          color: #333;
        }
      }
    }
  }
  .latest_articles {
    margin-bottom: 56px;
    .description {
      margin-bottom: 42px;
      margin-top: 56px;
      .title {
        font-weight: bold;
        font-size: 26px;
        color: #333333;
        line-height: 32px;
        margin-bottom: 10px;
      }
      .description_info {
        justify-content: space-between;
        .info {
          font-size: 14px;
          color: #666666;
          line-height: 22px;
        }
        .readall {
          font-size: 14px;
          color: #3b6351;
          line-height: 22px;
        }
      }
    }
    .article_list {
      justify-content: space-between;
      .article_item {
        border: 1px solid rgb(232, 228, 217);
        position: relative;
        width: 300px;
        height: 400px;
        border-radius: 10px;
        overflow: hidden;
        &:hover {
          transform: translateY(-5px);
          box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
        }
        .article_type {
          z-index: 1;
          width: 64px;
          height: 22px;
          position: absolute;
          top: 14px;
          left: 14px;
          border-radius: 11px;
          font-size: 12px;
          color: #fff;
          background-color: #3a6351;
        }
        .article_img {
          position: relative;
          height: 168px;
          // &:hover {
          //   img {
          //     transform: matrix(1.1, 0, 0, 1.1, 0, 0);
          //     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          //   }
          // }
        }
        .article_content {
          padding: 20px;
          display: flex;
          flex-direction: column;
          .article_date {
            font-size: 12px;
            color: #737373;
            line-height: 18px;
            margin-bottom: 10px;
          }
          .article_title {
            height: 50px;
            font-size: 18px;
            margin-bottom: 10px;
            @include common.truncate_text(2);
          }
          .article_desciption {
            flex: 1;
            margin-bottom: 15px;
            font-size: 14px;
            @include common.truncate_text(3);
          }
          .toArticleDetail {
            padding: 0;
            font-size: 14px;
            line-height: 21px;
            color: #3a6351;
          }
        }
      }
    }
  }
  .special {
    padding: 56px 0;
    background-color: rgb(248, 246, 240);
    .description {
      h2 {
        font-weight: bold;
        font-size: 26px;
        color: rgb(51, 51, 51);
        line-height: 32px;
        margin-bottom: 10px;
        text-align: center;
      }
      p {
        text-align: center;
        line-height: 22px;
        color: rgb(82, 82, 82);
        padding-bottom: 42px;
      }
    }
    .special_list {
      justify-content: space-between;

      .special_item {
        background-color: #fff;
        width: 470px;
        height: 325px;
        border-radius: 10px;
        overflow: hidden;
        .left_img {
          height: 100%;
          width: 156px;
          position: relative;
          span {
            white-space: nowrap;
            text-align: center;
            z-index: 1;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            line-height: 28px;
            font-weight: bold;
            color: #fff;
            font-size: 22px;
          }
        }
        .right_content {
          height: 100%;
          flex: 1;
          padding: 20px;
          h3 {
            margin-bottom: 14px;
            line-height: 24px;
            font-size: 18px;
          }
          p {
            margin-bottom: 14px;
            line-height: 22px;
          }
          ul {
            li {
              list-style: none;
              line-height: 22px;
            }
          }
          .to_all {
            margin-top: 21px;
            line-height: 22px;
            color: #3a6351;
          }
        }
      }
    }
  }
  .classification {
    padding: 56px 0;
    background-color: #fff;
    .description {
      h2 {
        font-weight: bold;
        font-size: 26px;
        color: rgb(51, 51, 51);
        line-height: 32px;
        margin-bottom: 10px;
        text-align: center;
      }
      p {
        text-align: center;
        line-height: 22px;
        color: rgb(82, 82, 82);
        padding-bottom: 42px;
      }
    }
    .multiclass {
      padding-bottom: 42px;
      column-gap: 10px;
      .calss_item {
        padding: 7px 18px;
        border-radius: 16px;
        background-color: #e8e4d9;
        cursor: pointer;
        &:hover {
          background-color: rgb(209, 201, 184);
        }
      }
    }
    .content {
      column-gap: 28px;
      .classification_number,
      .classification_tags {
        background-color: #f8f6f0;
        flex: 1;
        height: 310px;
        padding: 20px;
        border-radius: 10px;
        h3 {
          margin-bottom: 20px;
        }
      }
      .classification_tags {
        .tags {
          flex-wrap: wrap;
          row-gap: 7px;
          column-gap: 7px;
          .tag_item {
            border-radius: 13px;
            padding: 3px 10px;
            background-color: #fff;
            border: 1px solid rgb(232, 228, 217);
            &:hover {
              background-color: #3a6351;
              border-color: #3a6351;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .my_project {
    background-color: #f8f6f0;
    padding: 56px 0;
    .description {
      h2 {
        font-weight: bold;
        font-size: 26px;
        color: rgb(51, 51, 51);
        line-height: 32px;
        margin-bottom: 10px;
        text-align: center;
      }
      p {
        text-align: center;
        line-height: 22px;
        color: rgb(82, 82, 82);
        padding-bottom: 42px;
      }
    }
    .project_list {
      column-gap: 28px;
      .project_item {
        border: 1px solid rgb(232, 228, 217);
        border-radius: 10px;
        height: 370px;
        overflow: hidden;
        flex: 1;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
          rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
          .project_img {
            transform: matrix(1.1, 0, 0, 1.1, 0, 0);
          }
        }
        .project_img {
          position: relative;
          height: 168px;
        }
        .project_content {
          height: calc(100% - 168px);
          background-color: #fff;
          padding: 20px;
          .project_tags {
            margin-bottom: 7px;
            .project_tag {
              padding: 3px 7px;
              border-radius: 3px;
              color: rgb(30, 64, 175);
              background-color: rgb(219, 234, 254);
            }
          }
          h3 {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 8px;
            &:hover {
              color: #3a6351;
            }
          }
          p {
            margin-bottom: 14px;
            line-height: 22px;
          }
          .to_project {
            justify-content: space-between;
          }
        }
      }
    }
  }
  .about {
    padding: 56px 0;
    background-color: #fff;
    .info {
      padding: 0 164px;
      column-gap: 42px;
      .left_img {
        width: 330px;
        height: 450px;
        padding: 7px;
        position: relative;
        .my_picture {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          overflow: hidden;
          position: relative;
          z-index: 1;
        }

        .picture_mask {
          // left: 50%;
          // top: 50%;
          // transform: translate(-50%, -50%);
          width: calc(100% + 30px);
          height: calc(100% + 30px);
          border-radius: 15px;
          background-color: rgba(58, 99, 81, 0.05);
          position: absolute;
          z-index: 0;
          inset: -15px;
          transform: matrix(0.999391, 0.0348995, -0.0348995, 0.999391, 0, 0);
        }
      }
      .right_content {
        padding-top: 20px;
        flex: 1;
        h2 {
          margin-bottom: 20px;
          font-weight: bold;
          font-size: 26px;
        }
        p {
          color: rgb(64, 64, 64);
          line-height: 22px;
        }
        .my_descrption {
          margin-bottom: 14px;
        }
        .blog_descrption {
          margin-bottom: 20px;
        }
        .technology_hobby {
          .technology,
          .hobby {
            flex: 1;
            h3 {
              margin-bottom: 10px;
              .type_icon {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                margin-right: 7px;
              }
            }
            ul {
              li {
                margin-bottom: 7px;
                &:nth-last-child(1) {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
