@use "../../style/common.module.scss" as common;
.control {
  height: 100%;

  $breadcrumb-height: 22px;
  $breadcrumb-padding: 10px;
  .ant-breadcrumb {
    padding: $breadcrumb-padding;
  }
  .control_layout {
    padding: 24px 0;
  }
}
