@use "../../style/common.module.scss" as common;
.control {
  /*  height: 100%;
  padding-bottom: 24px;
  $breadcrumb-height: 22px;
  $breadcrumb-padding: 10px;
  .ant-breadcrumb {
    padding: $breadcrumb-padding;
  }
  .control_layout {
    height: calc(100% - $breadcrumb-height - $breadcrumb-height);
  } */
}
